/* Color selection
Darker
#706233
#B0926A
#E1C78F
#FAE7C9
Lighter
*/
body{
    margin: 0;
    padding: 0;
    background-color: #FAE7C9;
    display:flex;
}
nav {/*Basic Information for Navigation Bar*/
    position:fixed;
    background-color: #706233;
    height: 50px;
    width: 100%;
    align-items: center;
    display:flex;
}
nav a{/*Here is what links in Nav do*/
    display: flex;
    background-color: #B0926A;
    height: 80%;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
    margin: 10px;
}
nav a img{/*Here is what Images in Nav do*/
    height: 100%;
}
nav a:nth-child(2){
    margin-left: auto;
}
nav a:last-child{
    background-color: #E1C78F;
}
section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
section:first-of-type{
    margin-top: 50px;
    width: 100%;
}
fieldset{
    display: flex;
    flex-direction: column;
}
select{
    display: flex;
    justify-content: flex-end;
}
.row {
    display: flex;
}
.row label:last-child {
    justify-content: flex-end;
}
.row:last-child {
    justify-content: flex-end;
}
.card {
    display: flex;
    flex-direction: column;
    width: 23%;
    min-width: 400px;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #B0926A;
    align-items: center;
}
.card img{
    width: 100%;
}
.card h1{
    margin: 0;
    font-size: 35px;
}
.card p{
    font-size: 15px;
}
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #B0926A;
}
.login label{
    display:flex;
    justify-content: flex-end;
    margin-bottom: 3px;
}
.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #B0926A;
}
.register label{
    display:flex;
    justify-content: flex-end;
    margin-bottom: 3px;
}