/* Color selection
Darker
#706233
#B0926A
#E1C78F
#FAE7C9
Lighter
*/
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&family=Audiowide&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: #FAE7C9;
    display:flex;
    /* font-family: 'Audiowide'; */
}
nav {/*Basic Information for Navigation Bar*/
    position:fixed;
    background-color: #706233;
    height: 50px;
    width: 100%;
    align-items: center;
    display:flex;
}
nav a{/*Here is what links in Nav do*/
    display: flex;
    background-color: #B0926A;
    height: 80%;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
    margin: 10px;
    width: 100px;
    text-decoration: none;
    transition-property: width;
    transition-duration: 1.5s;
}
nav a:hover{/*Here is what links in Nav do*/
    width: 150px;
}
nav a img{/*Here is what Images in Nav do*/
    height: 100%;
}
nav a:nth-child(2){
    margin-left: auto;
}
nav a:last-child{
    background-color: #E1C78F;
}
section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
section:first-of-type{
    margin-top: 50px;
    width: 100%;
}
fieldset{
    display: flex;
    flex-direction: column;
}
select{
    width: 177px;
    display: flex;
    justify-content: flex-end;
}
table{
    text-align: center;
}
thead td{
    background-color: #E1C78F;
}
td{
    background-color: #E1C78F;    
    transition-property: background-color;
    transition-duration: 1.5s;
}
td a{
    text-decoration: none;
}
td:hover{
    background-color: #B0926A;
}
.row {
    display: flex;
    justify-content: space-between;
}
/*.row:last-child {
     margin-left: auto;
} */
.card {
    display: flex;
    flex-direction: column;
    width: 23%;
    min-width: 400px;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #B0926A;
    align-items: center;
}
.card img{
    width: 100%;
}
.card h1{
    margin: 0;
    font-size: 35px;
}
.card p{
    font-size: 15px;
}
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #B0926A;
}
.login label{
    display:flex;
    justify-content: flex-end;
    margin-bottom: 3px;
}
.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #B0926A;
}
.register label{
    display:flex;
    justify-content: flex-end;
    margin-bottom: 3px;
}
/* #genshin {
    
}
#starrail {

}  */
#genshin h1{
    font-family: 'Allison';
}
#starrail h1{
    font-family: 'Audiowide';
}